.wrct {
  position: relative;
  margin: 0 auto;
}

.wrct:after {
  content: '';
  display: block;
  clear: both;
}

.wrct > div {
  opacity: 1;
  transition: .5s opacity;
}

.wrct-loading > *:not(.wrct-loading-screen) {
  opacity: .1;
}

.wrct-pre-init > div {
  opacity: 0;
}

.wrct-loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.wrct-loading .wrct-loading-screen {
  display: block;
  text-align: center;
  padding: 200px 0;
}

.wrct-loading-indicator {
  display: inline;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.wrct-loading-indicator > div {
  display: inline-block;
  margin: 5px;
  line-height: 1em;
  vertical-align: middle;
}

.wrct-loading-text {
  font-size: 24px;
  /* font-weight: bold; */
}

.wrct-table-scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 20px 0;
  clear: both;
}

.wrct-table {
  table-layout: auto;
  margin: 0;
  border-width: 1px;
  border-collapse: collapse;
}

.wrct-heading-row {
  border-bottom: 4px solid #3c3c3c;
}

.wrct-heading,
.wrct-cell {
  text-align: center;
  border-width: 0 1px 1px 0;
  padding: 15px 10px;
  color: inherit;
}

.wrct-sortable.wrct-heading {
  position: relative;
  cursor: pointer;
  padding: 15px 25px;
}

.wrct-cell {
  padding: 20px 10px;
  color: black;
}

.wrct-notice-cell {
  padding: 0;
  margin: 0;
  border: none;
}

.wrct-responsive-layout .wrct-notice-cell {
  display: block!important;
  border: none;
}

.wrct-responsive-layout .wrct-notice-cell:before {
  display: none!important;
}

.wrct-notice {
  padding: 20px 10px;
  background: #f1f1f1;
  text-align: center;
  overflow: hidden;
  color: black;
}

.wrct-notice-text {
  display: inline;
  margin-right: .5em;
}

.wrct-responsive-layout .wrct-notice-text {
  display: block;
  margin: 0;
}

[data-wrct-name="price"] .wrct-cell-val {
  /* font-weight: 600; */
}

[data-wrct-name="price"] .wrct-price-text {
  font-weight: normal;
}

.wrct-row:last-child .wrct-heading,
.wrct-row:last-child .wrct-cell {
  border-bottom-width: 0;
}

.wrct-heading:last-child,
.wrct-cell:last-child {
  border-right-width: 0;
}

.wrct-table,
.wrct-table .wrct-heading,
.wrct-table .wrct-cell {
  border-color: rgba(0,0,0,0.04);
  border-style: solid;
  font-size: 16px;
  line-height: 1.4em;
}

.wrct-del {
  opacity: .5;
  font-weight: normal;
  text-decoration: line-through;
  display: inline;
}

.wrct-table a.wrct-button {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  border-width: 1px!important;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  background: transparent;
  margin: 5px;
  color: inherit;
  box-shadow: none!important;
  white-space: nowrap;
  line-height: normal;
  font-size: inherit;
  transition: .2s;
}

body .wrct-table a.wrct-button:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.wrct-row.wrct-disable-transaction-buttons .wrct-transaction-button{
  opacity: .85;
  cursor: default;
}

.wrct-transaction-button.wrct-disabled {
  transform: scale(.95);
  opacity: .5;
}

select.wrct-select {
  padding: 7px;
  border-radius: 3px;
  font-size: inherit;
  line-height: normal;
  border: 1px solid rgba(0, 0, 0, 0.08);
  height: 40px;
}

.wrct-radio-container {
  display: inline-block;
}

[data-wrct-selection-style="radio"] .wrct-select {
  display: none;
}

[data-wrct-selection-style="radio"] .wrct-cell {
  vertical-align: top;
}

input.wrct-radio-button[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.wrct-radio-label {
  display: inline;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 10px;
}

input.wrct-radio-button[type="radio"][disabled] + .wrct-radio-label {
  text-decoration: line-through;
  opacity: .4;
}

.wrct-radio-set {
  padding: 0 10px;
  text-align: left;
  margin-bottom: 8px;
}

.wrct-radio-set:nth-last-child(2){
  margin-bottom: 0;
}

.wrct-clear {
  clear: both;
}

.wrct-cell img {
  max-width: 75px;
  max-height: 75px;
  vertical-align: middle;
}

.wrct-table th i {
  font-size: 1.3em;
  margin-right: 3px;
  width: 1.2em;
  text-align: center;
}

.wrct-heading .wrct-sorting-icon {
  position: absolute;
  right: 3px;
  top:  50%;
  margin: 0;
  opacity: .5;
  font-size: .4em;
  margin: 2px;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-bottom: 1em solid transparent;
}

.wrct-heading .wrct-sorting-icon:hover {
  opacity: 1;
}

.wrct-sorting-asc.wrct-heading .wrct-sorting-asc-icon,
.wrct-sorting-desc.wrct-heading .wrct-sorting-desc-icon {
  opacity: 1;
}

.wrct-heading .wrct-sorting-icons .wrct-sorting-asc-icon {
  border-bottom: 1em solid currentColor;
  bottom: 50%;
  top: auto;
}

.wrct-heading .wrct-sorting-icons .wrct-sorting-desc-icon {
  border-top: 1em solid currentColor;
  bottom: auto;
  top: 50%;
}

.wrct-heading[data-wrct-limited-order] .wrct-sorting-icon{
  transform: translateY(-50%);
  top: 50%;
  bottom: auto;
}

.wrct-table i.fa-check{
  color: #66BB6A;
}

.wrct-table i.fa-times{
  color: #EF5350;
}

.wrct-table .wrct-button i{
  margin: 0 2px;
  font-size: 1.1em;
  vertical-align: middle;
}

.wrct-heading i {
  position: relative;
  top: .025em;
  margin-right: .35em;
}

.wrct-table th,
.wrct-cell[data-wrct-name="name"] {
  font-weight: 600;
}

a.wrct-link-course-name {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.wrct-hide {
  display: none;
}

.wrct-pagination {
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin: 20px 0;
}

.wrct-pagination .page-numbers, .wrct-pagination .page-numbers.current {
  padding: 8px;
  display: inline-block;
  font-size: 18px!important;
  line-height: 1.5em;
  color: black;
  border: 1px solid #ddd;
  width: 45px;
  text-align: center;
  margin: 0 10px;
  text-decoration: none!important;
  box-shadow: none;
  vertical-align: middle;
  box-shadow: none!important;
}

.wrct-pagination .page-numbers:not(.dots):hover,
.wrct-pagination .page-numbers.current {
  border-color: #777;
}

.wrct-forms {
  text-align: right;
}

.wrct-forms > form {
  display: inline-block;
  margin-left: 10px;
  position: relative;
}

label.wrct-search-label {
  width: 200px;
  margin-right: 10px;
  display: inline;
  font-size: 16px;
  font-weight: bold;
}

input.wrct-search-input[type="search"] {
  width: 240px;
  max-width: 100%;
  display: inline;
  padding: 10px 45px 10px 15px;
  height: 45px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #ddd;
  outline: none;
  box-shadow: none;
}

.wrct-search-form button[type="submit"],
.wrct-search-form button[type="submit"]:hover,
.wrct-search-form button[type="submit"]:active,
.wrct-search-form button[type="submit"]:focus {
  padding: 0;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: transparent;
  color: black;
  opacity: .3;
  border-radius: 0;
  width: 35px;
  transition: .2s;
  font-family: fontawesome;
  position: absolute;
}

.wrct-search-form button[type="submit"]:hover {
  opacity: 1;
}

.wrct-search-submit-icon {
  display: inline-block;
  height: 35px;
  width: 35px;
}

.wrct-search-submit-icon:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid black;
  display: block;
  border-radius: 100%;
  position: absolute;
  top: 12px;
  left: 8px;
}

.wrct-search-submit-icon:after {
  content: "";
  width: 2px;
  height: 10px;
  background: black;
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
  transform: rotate(-45deg);
}

.wrct-search-clear-enabled input.wrct-search-input[type="search"] {
  width: 260px;
  padding: 10px 35px 10px 35px;
}

.wrct-search-submit {
  position: absolute;
  right: 0;
  top: 0;
}

.wrct-search-clear {
  position: absolute;
  left: 0;
  top: 0;
}

.wrct-search-clear-icon:before,
.wrct-search-clear-icon:after {
  content: "";
  width: 2px;
  height: 18px;
  background: black;
  display: block;
  position: absolute;
  left: 50%;
  top: 14px;
  transform: rotate(45deg);
}

.wrct-search-clear-icon:before {
  transform: rotate(-45deg);
}

.wrct-no-search-results-message {
  font-size: 20px;
  text-align: center;
  padding: 60px 20px;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.wrct-sorting-label {
  font-size: 16px;
  margin-right: 5px;
  font-weight: bold;
}

.wrct-sorting-input{
  height: 45px;
  font-size: 16px;
  border: 1px solid #ddd;
}

/* .wrct-notice > div {
  color: black;
  padding-top: 10px;
  display: none;
  line-height: 1.4em;
  font-size: 1em;
}

.wrct-notice i.wrct-icon {
  font-size: .9em;
  position: relative;
  margin-right: 4px;
  display: inline-block;
}

.wrct-notice .wrct-action {
  text-decoration: none;
  font-size: .9em;
  line-height: 1.8em;
  color: rgb(0, 0, 0);
  font-weight: normal;
  padding-top: 0;
}

.wrct-notice .wrct-action > * {
  cursor: pointer;
  display: inline-block;
  opacity: .5;
  margin: 2px;
  text-decoration: none;
  border: none;
  box-shadow: none;
  color: inherit;
}

.wrct-table .wrct-notice .wrct-text {
  display: inline;
}

.wrct-notice .wrct-action > * > * {
  display: inline;
}

.wrct-notice .wrct-action i.wrct-icon {
  color: rgba(0, 0, 0, 0.5);
}

.wrct-notice .wrct-action .wrct-cart-info i.wrct-icon {
  font-size: 1em;
  margin-right: 1px;
}

.wrct-table .wrct-notice .wrct-action .wrct-text {
  text-decoration: underline;
}

.wrct-notice .wrct-action > *:hover {
  opacity: 1;
}

.wrct-notice .wrct-action > *:hover i.wrct-icon {
  color: rgba(0, 0, 0, 0.75);
} */

.wrct-template,
.wrct-hidden-form {
  display: none!important;
}

.wrct-rating {
  display: inline-block;
}

.wrct-rating-star-full,
.wrct-rating-star-half,
.wrct-rating-star-empty {
  position: relative;
  font-style: normal;
}

.wrct-rating-star-full:before,
.wrct-rating-star-half:before,
.wrct-rating-star-empty:before {
  content: "\f005";
  color: rgba(0, 0, 0, 0.25);
  font-family: fontawesome;
}

.wrct-rating-star-full:after,
.wrct-rating-star-half:after {
  content: "\f005";
  position: absolute;
  left: 0;
  font-family: fontawesome;
  color: #FFC107;
}

.wrct-rating-star-half:after {
  content: "\f089";
}

.wrct-table [data-wrct-name="quantity"] input[type="number"] {
  width: 60px;
  text-align:center;
}

/* Responsive */

.wrct-responsive-layout .wrct-cell-label {
  display: inline-block;
  width: 200px;
}

.wrct-responsive-layout .wrct-responsive-accordion-hide,
.wrct-responsive-layout .wrct-empty {
  display: none!important;
}

.wrct-responsive-layout .wrct-responsive-show {
  display: block;
}

.wrct-responsive-layout.wrct-table {
  max-width: 100%;
  display: block;
  border: none;
}

.wrct-responsive-layout.wrct-table tbody{
  display: block;
}

.wrct-responsive-layout.wrct-table td.wrct-cell,
.wrct-responsive-layout.wrct-table tr.wrct-row {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0;
  border-style: solid;
}

.wrct-responsive-layout.wrct-table td.wrct-cell {
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 1px;
}

.wrct-responsive-layout.wrct-table td.wrct-cell.wrct-responsive-first-cell {
  border-top-width: 1px;
}

.wrct-responsive-layout.wrct-table td.wrct-cell.wrct-responsive-last-cell {
  border-bottom-width: 1px;
}

.wrct-responsive-layout.wrct-table tr.wrct-row{
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

/*.wrct-responsive-layout.wrct-table tr:nth-child(even){
  background: transparent;
}*/

.wrct-responsive-layout.wrct-table td {
  position: relative;
}

.wrct-responsive-layout.wrct-table td:before {
  content: "";
  position: absolute;
  left: 0px;
  display: block;
  width: 40%;
  border-right: 1px solid #ddd;
  height: 100%;
}

.wrct-responsive-layout.wrct-table  .wrct-cell-label{
  display: inline-block;
  width: 40%;
  float: none;
  /*z-index: 1;*/
  position: relative;
  vertical-align: middle;
  font-weight: normal;
}

.wrct-responsive-layout.wrct-table td:nth-child(even){
  background: #f7f7f7;
}

.wrct-responsive-layout .wrct-cell-label,
.wrct-responsive-layout .wrct-cell-val {
  padding: 10px 4% 10px 4%;
}

.wrct-responsive-layout .wrct-cell-val {
  width: 60%;
  float: none;
  vertical-align: middle;
  display: inline-block;
}

.wrct-cell-label-hide-responsive.wrct-table .wrct-cell-label {
  display: none;
}

.wrct-cell-label-hide-responsive .wrct-cell-val {
  width: 100%!important;
  display: block;
  /*text-align: center;*/
}

.wrct-cell-label-hide-responsive .wrct-cell:before {
  display: none!important;
}

body .wrct-responsive-layout.wrct-table a.wrct-button {
  margin: 5px 10px 5px 0;
  max-width: 100%;
  text-align: center;
  padding: 8px 10px;
}

.wrct-responsive-layout input.wrct-radio-button[type="radio"] {
  margin-right: 5px;
}

.wrct-responsive-layout .wrct-radio-set {
  padding: 0;
  margin-bottom: 0;
}

.wrct-responsive-layout [data-wrct-name="name"] > .wrct-cell-val {
  padding: 16px 4%;
  font-size: 1.1em;
  line-height: 1.1em;
  /* font-weight: bold; */
}

.wrct-responsive-layout tr.wrct-heading-row {
  display: none;
}

.wrct-responsive-layout .wrct-cell:after {
  content: "";
  display: block;
  clear: both;
}

/* .wrct-responsive-layout .wrct-notice {
  text-align: left;
  padding: .2em 0 .5em;
}

.wrct-notice > div {
    padding-top: 10px;
}

.wrct-responsive-layout .wrct-notice span {
  margin-bottom: .2em;
}

.wrct-responsive-layout .wrct-notice .wrct-next-action {
  font-size: .95em;
  display: inline-block;
}
 */

/* responsive layout multiple columns */

.wrct-table.wrct-responsive-layout-3-columns tr.wrct-row {
  width: calc(33% - 6.5px);
  float: left;
  margin-right: 10px;
  clear: none;
}

.wrct-table.wrct-responsive-layout-3-columns tr.wrct-row:nth-child(3n + 1) {
  clear: left;
}

.wrct-table.wrct-responsive-layout-3-columns tr.wrct-row:nth-child(3n) {
  margin-right: 0!important;
}

.wrct-table.wrct-responsive-layout-3-columns tr.wrct-row:last-child,
.wrct-table.wrct-responsive-layout-3-columns tr.wrct-row:nth-last-child(2),
.wrct-table.wrct-responsive-layout-3-columns tr.wrct-row:nth-last-child(3) {
  margin-bottom: 0!important;
}

.wrct-table.wrct-responsive-layout-2-columns tr.wrct-row {
  width: calc(50% - 10px);
  float: left;
  margin-right: 10px;
  clear: none;
}

.wrct-table.wrct-responsive-layout-2-columns tr.wrct-row.wrct-odd {
  clear: left;
}

.wrct-table.wrct-responsive-layout-2-columns tr.wrct-row.wrct-even {
  margin-right: 0!important;
}

.wrct-table.wrct-responsive-layout-2-columns tr.wrct-row:last-child,
.wrct-table.wrct-responsive-layout-2-columns tr.wrct-row:nth-last-child(2) {
  margin-bottom: 0!important;
}

.wrct-responsive-trigger {
  display: none;
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 0;
  opacity: .75;
}

.wrct-responsive-trigger:before,
.wrct-responsive-trigger:after {
  content: "";
  width: 2px;
  height: 8px;
  border-radius: 2px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 6px;
  transform: rotate(45deg);
  transform-origin: 50% 95%;
  transition: .2s;
}

.wrct-responsive-trigger:before {
  transform: rotate(-45deg);
}

.wrct-responsive-layout-accordion-expand .wrct-responsive-trigger:before,
.wrct-responsive-layout-accordion-expand .wrct-responsive-trigger:after {
  height: 12px;
  transform-origin: 50%;
}

/* .wrct-responsive-trigger.wrct-middle {
  top: 50%;
  transform: translateY(-50%);
}
 */

.wrct-responsive-summary {
  display: none;
  font-size: 14px;
  line-height: 1.5em;
  padding-top: 5px;
  font-weight: normal;
  transition: .2s;
  opacity: .75;
}

.wrct-table.wrct-responsive-layout.wrct-responsive-layout-accordion .wrct-responsive-trigger,
.wrct-table.wrct-responsive-layout .wrct-responsive-summary {
  display: block;
}

.wrct-table.wrct-responsive-layout.wrct-responsive-layout-accordion .wrct-row:not(.wrct-responsive-layout-accordion-expand) .wrct-cell:not([data-wrct-name="name"]) {
  display: none;
}

.wrct-table.wrct-responsive-layout.wrct-responsive-layout-accordion .wrct-cell[data-wrct-name="name"]{
  cursor: pointer;
}

/*.wrct-table.wrct-responsive-layout.wrct-responsive-layout-accordion .wrct-row:not(.wrct-responsive-layout-accordion-expand) .wrct-cell[data-wrct-name="name"]{
  border-bottom-width: 0!important;
}*/

.wrct-responsive-summary .wrct-rating-star-full:after,
.wrct-responsive-summary .wrct-rating-star-half:after {
  content: "\f005";
  position: absolute;
  left: 0;
  font-family: fontawesome;
  color: inherit;
}

[data-wrct-name="name"].wrct-cell img.wrct-responsive-featured-image {
  display: none;
}

.wrct-responsive-layout [data-wrct-name="name"].wrct-cell img.wrct-responsive-featured-image {
  width: 40px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.wrct-responsive-layout .wrct-responsive-featured-image + .wrct-adjacent {
  width: calc(100% - 55px);
  display: inline-block;
  vertical-align: middle;
}

.wrct-table.wrct-responsive-layout.wrct-remove-other-name-borders-responsive [data-wrct-name="name"].wrct-cell {
  border-top-width: 0!important;
  border-right-width: 0!important;
  border-left-width: 0!important;
}

.wrct-table.wrct-responsive-layout.wrct-remove-other-name-borders-responsive .wrct-row:not(.wrct-responsive-layout-accordion-expand) [data-wrct-name="name"].wrct-cell {
  border-bottom-width: 0!important;
}

@media(max-width: 650px){
  .wrct-forms {
    text-align: center;
  }

  .wrct-forms > form{
    margin: 0 10px 16px;
    max-width: 90%;
  }

  .wrct-forms > form + form:last-child{
    margin-bottom: 8px;
  }

  .wrct-search-clear-enabled input.wrct-search-input[type="search"],
  input.wrct-search-input[type="search"],
  .wrct .wrct-sorting-input {
    width: 240px;
    max-width: 100%;
  }

  label.wrct-search-label {
    display: none;
  }
}
